/*Global styling*/
*{margin:0;
padding:0;
box-sizing: border-box;}



body{font-family: 'Times New Roman', Times, serif;}



main{max-width: 1250px; 
margin: 0 auto;
display:grid;
grid-template-columns: .8fr  minmax(450px,700px)  1.8fr;
grid-template-rows: 40px auto 150px;}

li{list-style-type: none;
    padding: 15px;
    font-weight: bolder;
    font-size: 17px;
 }


li a{color:#000000;
    
}


a {text-decoration: none;    
}

a:hover{color:#00acee;}



ul li:nth-child(9) a{ color: #000000;}


.nav-bar{display:flex;
flex-flow:column;
align-items: flex-start;
}


li a i{margin-right: 15px;
}



li:nth-child(1) a i{color:#00acee;
                    }
                


button{width:13vw;
        height:5vh;
        border-radius: 2em;
        background-color: #1da1f2;
        color:#fff;
        border:0;
        cursor:pointer;
    border:0;}


.form-icons{font-size:18px;
            color:#00acee;
        cursor: pointer;}




/*main content styling*/
.page-status{grid-column: 2/3;
            grid-row:1/2 ;
        
            border-top: 1px solid #e1e8ed;
            border-left: 1px solid  #e1e8ed;
            border-right: 1px solid  #e1e8ed;
            
        }

div h3{
    margin-top: 10px;
    margin-left:20px;
}



/*tweet reaction*/
.red{color:#ff0000;}
.green{color:rgb(63, 241, 63);}
.tweet-figure{font-size:13px;}


img{width:50px;
    height:50px;
    border-radius: 50%;
text-align: center;}

.status-post{grid-column:2/3;
            grid-row:2/3;
          
            
        }
.status-post-2{display:flex;
    flex-flow:row;
    
    border-top: 1px solid #e1e8ed;
    border-left: 1px solid  #e1e8ed;
    border-right: 1px solid  #e1e8ed;
    border-bottom:1px solid #e1e8ed;   
    
}


.status-post-2 div{margin-right:1em;
    margin-top:5px;
    margin-left:20px;
    
}



#input{height:5em;
width:35em;
border:0;

}

#input::placeholder{font-size: 18px;}



.post-status p:nth-child(2) i{margin:.5em;
}



.post-status p  i:nth-child(5){margin-right:170px;}



.tweet-button-post{width:5vw;
    height:5vh;
    border-radius: 2em;
    background-color:#00acee;
    color:#fff;
    border:0;
    align-self: self-end;
    cursor: pointer;
    
}



.second-post{border-top:9px solid #e1e8ed;
margin-top: 0;
margin-bottom: 2px;
}


.container-actions{display: flex;
                    flex-flow:row;
                }


.container-actions p i {margin-right: 90px;}



p .gray-text{color: #657786;;}




/*page status for  grid: col-2/3, row-3/4*/

.page-status-2{grid-column: 2/3;
    grid-row:3/4 ;}



.status-post-3{display:flex;
        flex-flow:row;
        border-top: 1px solid #e1e8ed;
        border-left: 1px solid  #e1e8ed;
        border-right: 1px solid  #e1e8ed; }


.status-post-3 div{margin-right:1em;
       margin-top:9px ;
       margin-left:20px;
          
    }


.status-images{width:100%;
            height:50%;
            border-radius: 5%;}



.video-size{width:350px;}



/*page status update for grid col-3/4*/

.third-column{grid-template-columns: 3/4;
               margin:5px; }



.blue-cog{color:#00acee;}




.third-column-container{display:flex;
                    margin-left:10px;
                    margin-top:5px;
                    flex-flow: column; }



 #search-input-2{width:100%;
                height:4vh;
             border-radius: 16px;
            background-color:#e1e8ed;
        border:0;}



.brand-text{font-size: 14px;
            font-weight: bold;
        color:#14171a;}



.brand-info{color:#657786;}



.promoted-brand-name {font-size: 12px;}



.trending-update{color:#aab8c2;
                font-size:13px;}




.trending-container{background-color:#f5f8fa;
                    margin-top:20px;
                    border-radius: 10px;}



.trending-container .trend{margin-top:5px;
                        margin-bottom:10px;
                        }


 
.trend-link{color:#14171a;}



.trend-link-2{color:#00acee;
                margin-left:5px;
            padding:3px;}



#brand-trend{padding:7px;

border-bottom: 1px solid #aab8c2;}



.location-trend{font-size: 18px;
                font-weight: bold;
            padding:10px;
                }

#location-style{display: flex;
                flex-flow: row;
                justify-content: space-between;
                border-bottom: 1px solid #aab8c2;
            }

 #location-trend{justify-self: flex-start;}  
 
 


#location-style div:nth-child(2) i {margin-right:15px;
                                    padding:12px;}




.trend{padding: 5px;
        border-bottom:1px solid #aab8c2; }

/*Who to follow handle*/

.twitter-handle-name{color:#aab8c2;
                        font-size: 12px;
                    font-weight: unset;
                }



.suggested-followers{margin-top:50px;
    background-color:#f5f8fa;}



.follow-button-post{width:4vw;
        height:3vh;
        color:#00acee;
        border-radius: 2em;
        border:1px solid #aab8c2;
    
        cursor: pointer;
        background-color:#f5f8fa;
        font-weight: bold;
        margin-top: 10px;
        
    }

.follow-image{margin-top: 5px;}



footer{margin-top:30px;
}



.footer-container{display:flex;
                }




.footer-container div a{margin-right: 3px;
                        color:#657786;}